<% content_for :head do %>
  <link rel="stylesheet" href="/assets/cocktail-partial.css.scss">
<% end %>
<a href="cocktails/<%= ct.id %>" class="list-group-item ctp-a">
  <img src="<%= ct.img %>" alt="<%= ct.name %>" class="ctp-img"/>
  <div class="list-group-item-heading ctp-name">
    <h4><%= ct.name %></h4>
  </div>
  <input type="button" value="SHARE" class="ctp-share"
         onclick="share_it(<%= ct.id %>, '<%= share_cocktail_path(ct.id) %>')">
</a>