<%= form_with(model: cocktail, local: true) do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
        <% cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ct-form cocktail">
    <img src="<%= @cocktail.img %>" alt="<%= @cocktail.name %>" class="ct-form img"/>
    <div class="ct-form ct-front">
      <%= form.text_area :name, class: 'ct-form line-textarea', placeholder: 'Name', rows: 1, cols: '50' %>
      <%= form.text_area :img, class: 'ct-form line-textarea', placeholder: 'Image URL', rows: 1, cols: '50%' %>
    </div>

  </div>

  <div class="ct-form ct-desc">
    <h4>Description</h4>
    <%= form.text_area :description, class: 'ct-form big-textarea', rows: '5', cols: '100' %>
  </div>

  <div class="ct-form ct-recipe">
    <h4>Recipe</h4>
    <%= form.text_area :recipe, class: 'ct-form big-textarea', rows: '5', cols: '100' %>
  </div>


  <div class="ct-form ct-ingrs">
    <h4>Ingredients</h4>
    <div class="list-group">
      <% Ingredient.all.each do |ingr| %>
        <%= render 'ingredients/ingr-select', ingr: ingr %>
      <% end %>
    </div>
  </div>

  <div class="ct-form btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button class="btn btn-info">Save</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-warning" OnClick="window.history.back()">Cancel</button>
    </div>
  </div>
<% end %>
