<%= form_with(model: cocktail, local: true) do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
        <% cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="padding: 10px 20px 20px 20px">
    <img src="<%= @cocktail.img %>" alt="<%= @cocktail.name %>" width="100px" height="100px" style="float:left"/>
    <div style="padding: 25px 0px 0px 10px; float:left;">
      <%= form.text_area :name, class: 'cocktail-name', placeholder: 'Name', rows: 1, cols: '50'%>
      <%= form.text_area :img, class: 'cocktail-img', placeholder: 'Image URL', rows: 1, cols: '50%'%>
    </div>

  </div>

  <div style="padding: 20px; float: none; clear:both">
    <h4>Description</h4>
    <%= form.text_area :description, class: 'cocktail-desc', rows: '5', cols: '100'%>
  </div>

  <div style="padding: 20px;">
    <h4>Recipe</h4>
    <%= form.text_area :recipe, class: 'cocktail-recipe', rows: '5', cols: '100'%>
  </div>


  <div style="padding: 20px; float:none">
    <h4>Ingredients</h4>
    <div class="list-group">
    </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" style="padding: 0px 20px 20px 20px">
    <div class="btn-group" role="group">
      <button class="btn btn-info">Save</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" OnClick="window.history.back()">Cancel</button>
    </div>
  </div>
<% end %>
