<% if logged_in? %>
  <%= render 'layouts/userbar', user: @user %>
<% end %>
<div class="ct-show page">
  <div class="ct-show header"></div>

  <div class="ct-show cocktail">
    <img src="<%= @cocktail.img %>" alt="<%= @cocktail.name %>" class="ct-show ct-img"/>
    <h4 class="list-group-item-heading ct-show ct-name"><%= @cocktail.name %></h4>
  </div>

  <div class="ct-show ct-desc">
    <h4>Description</h4>
    <p><%= @cocktail.description %></p>
  </div>

  <div class="ct-show ct-recipe">
    <h4>Recipe</h4>
    <p><%= @cocktail.recipe %></p>
  </div>

  <div class="ct-show ct-ingrs">
    <h4>Ingredients</h4>
    <div class="list-group">
      <% @cocktail.ingredients.each do |ingr| %>
        <%= render 'ingredients/ingredient', ingr: ingr %>
      <% end %>
    </div>
  </div>

  <div class="ct-show btn-group btn-group-justified" role="group">
    <!-- TODO: if not owner, remove Edit and Delete buttons -->
    <% if @cocktail.users.first.id == session[:user] %>
      <div class="btn-group" role="group">
        <button class="btn btn-info" OnClick="location.href='/cocktails/<%= @cocktail.id %>/edit'">Edit</button>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Delete', @cocktail, method: :delete, class: 'btn btn-danger', data: {confirm: 'Do you want to remove ' + @cocktail.name + '. This action can not be undone.'} %>
      </div>
    <% end %>
    <div class="btn-group" role="group">
      <button class="btn btn-warning" OnClick="location.href='/cocktails'">Back</button>
    </div>
  </div>
</div>