<!--<h1>New User</h1>-->
<%#= render 'form', user: @user %>
<%#= link_to 'Back', users_path %>

<h1>Create new user</h1>
<div>
  <fieldset>
    <legend>Register a new user</legend>
    <%= form_for :user, url: '/users', method: :post do |form| %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, size: 30 %>
      </div>
      <div>
        <%= form.label :email %>
        <%= form.text_field :email, size: 40 %>
      </div>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password, size: 20 %>
      </div>
      <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, size: 20 %>
      </div>
      <div>
        <%= form.submit 'Register' %>
      </div>
    <% end %>
  </fieldset>
</div>
<br>
<%= link_to "Back", :back %>