<%= render 'layouts/userbar', user: @user %>

<div class="user-show profile">
  <div class="user-show header"></div>
  <div class="user-show statistics">
    <div class="user-show statistic-element-first"></div>
    <div class="user-show statistic-element-second"><b><%= @user.cocktails.length %></b> cocktails</div>
    <div class="user-show statistic-element"><b><%= Ingredient.all.length %></b> ingredients</div>
  </div>
  <div class="user-show user">
    <img src="<%= @user.img %>" class="user-show profile-picture">
    <h3 class="user-show username"><%= @user.name %> (<%= @user.email %>)</h3>
  </div>
<!-- TODO: list of shared cocktails-->
</div>