<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="padding: 10px 20px 20px 20px">
    <img src="<%= @ingredient.img %>" alt="<%= @ingredient.name %>" width="100px" height="100px" style="float:left"/>
    <div style="padding: 35px 0px 0px 10px;">
      <%= form.text_area :name, class: 'ingredient-name', placeholder: 'Name', rows: 1, cols: '50'%>
      <%= form.text_area :img, class: 'ingredient-img', placeholder: 'Image URL', rows: 1, cols: '50%'%>
    </div>
  </div>

  <div style="padding: 20px; float: none; clear:both">
    <h4>Description</h4>
    <%= form.text_area :description, class: 'ingredient-desc', rows: '5', cols: '100'%>
  </div>

  <div class="btn-group btn-group-justified" role="group" style="padding: 0px 20px 20px 20px">
    <div class="btn-group" role="group">
      <button class="btn btn-info">Save</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info" OnClick="window.history.back()">Cancel</button>
    </div>
  </div>
<% end %>
