<%= render 'layouts/userbar', user: @user %>
<div class="ingr-show page">
  <div class="ingr-show header"></div>

  <div class="ingr-show ingredient">
    <img src="<%= @ingredient.img %>" alt="<%= @ingredient.img %>" class="ingr-show ingr-img"/>
    <h4 id="header4" class="list-group-item-heading ingr-show ingr-name"><%= @ingredient.name %></h4>
  </div>

  <div class="ingr-show ingr-desc">
    <h4>Description</h4>
    <p><%= @ingredient.description %></p>
  </div>

  <div class="ingr-show btn-group btn-group-justified" role="group">
    <% if @cocktail.owner == @user %>
      <div class="btn-group" role="group">
        <button class="btn btn-info" OnClick="location.href='/ingredients/<%= @ingredient.id %>/edit' ">Edit</button>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Delete', @ingredient, method: :delete, class: 'btn btn-danger', style: 'color: white', data: {confirm: 'Do you want to remove ' + @ingredient.name + '. This action can not be undone.'} %>
      </div>
    <% end %>
    <div class="btn-group" role="group">
      <button class="btn btn-warning" OnClick="location.href='/ingredients'">Back</button>
    </div>
  </div>
</div>