<div class="login-box">
  <img class="title" src="/imgs/logo.png">
  <fieldset>
    <%= form_tag '/sessions/create', method: :post do %>
      <div class="login-field-box">
        <%= text_field_tag 'username', '', class: 'login-field', placeholder: 'Username' %><br/>
        <%= password_field_tag 'password', '', class: 'login-field', placeholder: 'Password' %><br/>
      </div>
      <%= submit_tag 'Login', class: 'login-btn' %>
    <% end %>
  </fieldset>
  <br>
  <%= link_to "Forgot password?", '/users/forgotten' %><br>
</div>
<div class="login-box">
  <div style="text-align: center">
    Don't have an account? <%= link_to "Register", register_path, class: 'basic-link' %>
  </div>
</div>