<% content_for :head do %>
  <link rel="stylesheet" href="/assets/userbar.css.scss">
<% end %>
<div class="userbar user-bar">
  <div class="userbar logo-box">
    <div class="userbar dot">•</div>
    <img src="/imgs/logo-white.png" class="userbar logo-img">
  </div>

  <a href="<%= cocktails_path %>" class="userbar
    <%= current_page?(cocktails_path) ? 'page-selected' : 'page' %>">
    <div class="userbar profile-link">Cocktails</div>
  </a>
  <a href="<%= ingredients_path %>" class="userbar \
  <%= current_page?(ingredients_path) ? 'page-selected' : 'page' %>">
    <div class="userbar profile-link">Ingredients</div>
  </a>

  <div class="userbar logout"><%= link_to "Logout", logout_path, class: 'userbar profile-link' %></div>
  <div class="userbar separator right">|</div>
  <a href="<%= profile_path(user) %>" class="userbar profile-link">
    <div class="userbar profile">
      <img src="<%= user.img %>" class="userbar profile-picture">
      <span class="userbar username"><%= user.name %></span>
      <div class="userbar notif-highlight <%= user.cocktails.length > 0 ? 'notif-red' : nil %>">
        <%= user.cocktails.length %>
        <img src="/imgs/bell.png" class="userbar notif-bell">
      </div>
    </div>
  </a>
</div>