<!DOCTYPE html>
<html>
<head>
  <title>MyVeryOwnBar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <link rel="stylesheet" href="./css/fadein.css"/>

  <!-- Latest compiled and minified JavaScript -->
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
</head>

<body>
<%= yield %>
</body>
</html>
